@media only screen and (max-width: 1000px) {
  .nav .op {
    /* display: none; */
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1700px;
  height: 70px;
  background: rgb(139, 139, 139);
  padding: 0px 20px;
  color: #fff;
  margin-bottom: 30px;
}
.nav span {
  color: var(--body-color);
  cursor: pointer;
}
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--body-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
/* _______________________________ */

.s {
  position: relative;
}

.s input {
  height: 40px;
  width: 100%;
  padding: 10px;
  padding-right: 45px;
  font-size: 20px;
  border: none;
}
.s .icons {
  position: absolute;
  right: 0;
  top: 0;
  fill: var(--color);
  background: yellowgreen;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
/* _______________________________ */
